
.odd { background-color: rgb(235, 116, 175);
}

.para1.para5 {font-family: verdana;
}

#para2 {color:rgb(0, 119, 255);
font-size: 36px;
}

.para3 {font-family: sans-serif;
font-size: 24px;
}

#para4 {background-color: rgb(118, 229, 134);
font-size: 24px;
font-weight: bold;
}

